{% extends 'H3/base2.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'H3/styles/contact.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'H3/styles/contact_responsive.css' %}" />


{% block content %}
<div class="home">
    <div class="home_container">
        <div class="home_background" style="background-image:url(images/contact.jpg)"></div>
        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content">
                            <div class="breadcrumbs">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% if me.staff == 1 %}
<div class="container">
    <div >
        <div class="col-12 offset-lg-0">

            <div class="container">
                <table class="table table-hover">
            <thead>
            <th><div style="width: max-content"> 序号</div></th>
            <th><div style="width: max-content"> 序订单号</div></th>
            <th><div style="width: max-content"> 序交易房屋编号</div></th>
            <th><div style="width: max-content"> 序交易房屋名称</div></th>
            <th><div style="width: max-content"> 序交易房屋地址</div></th>
            <th><div style="width: max-content"> 序交易房屋价格</div></th>
            <th><div style="width: max-content"> 序买房人</div></th>
            <th><div style="width: max-content"> 序房主</div></th>
            <th><div style="width: max-content"> 序订单时间</div></th>
            <th><div style="width: max-content"> 序订单状态</div></th>
            <th><div style="width: max-content"> 序确认交易</div></th>
            <th><div style="width: max-content"> 序否决交易</div></th>
            </thead>
            <tbody>
            {% for bs_iterm in bs %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ bs_iterm.BID }}</td>
                    <td>{{ bs_iterm.HID.HID }}
                    <td><a href="/house/detail?HID={{ bs_iterm.HID.HID }}">{{ bs_iterm.HID.Hname }}</a></td>
                    <td>{{ bs_iterm.HID.Haddress }}
                    <td>{{ bs_iterm.HID.Hprice }}</td>
                    <td>{{ bs_iterm.UID.Uname }}</td>
                    <td>{{ bs_iterm.HID.Howner.Uname }}</td>
                    <td>{{ bs_iterm.Btime }}</td>
                    <td>
                        {% if bs_iterm.Bstatus == "0" %}
                            <div style="width: max-content"> <span style="color: cornflowerblue">待确认</span></div>
                        {% elif bs_iterm.Bstatus == "2"%}
                            <div style="width: max-content"><span style="color: red" >已废弃</span></div>
                        {% elif bs_iterm.Bstatus == "1" %}
                            <div style="width: max-content"><span style="color: green" > 交易成功</span></div>
                        {% endif %}
                    </td>
                    <td>
                        {% if bs_iterm.Bstatus == "0" %}
                            <div style="width: max-content"> <span style="color: cornflowerblue">
                                <a href="yes?BID={{ bs_iterm.BID }}">确认交易</a></span></div>
                        {% elif bs_iterm.Bstatus == "2"%}
                             <div style="width: max-content"><span style="color: red" >交易已否决</span></div>
                        {% elif bs_iterm.Bstatus == "1" %}
                            <div style="width: max-content"><span style="color: green" > 交易成功</span></div>
                        {% endif %}
                    </td>
                    <td>{% if bs_iterm.Bstatus == "0" %}
                        <div style="width: max-content"> <span style="color: cornflowerblue">
                            <a href="no?BID={{ bs_iterm.BID }}">否决交易</a></span></div>
                        {% elif bs_iterm.Bstatus == "2"%}
                            <div style="width: max-content"><span style="color: red" >交易已否决</span></div>
                        {% elif bs_iterm.Bstatus == "1" %}
                            <div style="width: max-content"><span style="color: green" > 交易成功</span></div>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td>空空如也</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

            </div>
        </div>
    </div>
</div>
    {% endif %}

{% endblock %}