{% extends 'H3/base2.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'H3/styles/contact.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'H3/styles/contact_responsive.css' %}" />


{% block content %}
<div class="home">
	<div class="home_container">
        <div class="home_background" style="background-image:url({% static "H3/images/541804.jpg"%})"></div>
		<div class="home_content_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="breadcrumbs">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
<br><br><br>
	<h2>
		拖延癌患者小分队作品
	</h2>
	<br>
	<h2>王晴翔：好的冰箱不需要会制冷 ! </h2>
	<h2>张旭宏：感觉很轻啊，比我想象中的轻多了。</h2>
	<h2>刘云山：那一天人类想起了...</h2>
</div>

{% endblock %}