{% extends 'H3/base2.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'H3/styles/contact.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'H3/styles/contact_responsive.css' %}" />


{% block content %}
<div class="home">
	<div class="home_container">
		<div class="home_background" style="background-image:url(images/contact.jpg)"></div>
		<div class="home_content_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="breadcrumbs">
								<ul>
									<li><a href="/index.html">返回主页</a></li>
									<li></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
    <div class="product_details">
		<div class="container">
			<div class="row details_row">

				<!-- Product Image -->
				<div class="col-lg-6">
					<div class="details_image">
						<div class="details_image_large"><img src="images/details_1.jpg" alt=""><div class="product_extra product_new"><a href="categories.html">New</a></div></div>
						<div class="details_image_thumbnails d-flex flex-row align-items-start justify-content-between">
							<div class="details_image_thumbnail active" data-image="images/details_1.jpg"><img src="images/details_1.jpg" alt=""></div>
							<div class="details_image_thumbnail" data-image="images/details_2.jpg"><img src="images/details_2.jpg" alt=""></div>
							<div class="details_image_thumbnail" data-image="images/details_3.jpg"><img src="images/details_3.jpg" alt=""></div>
							<div class="details_image_thumbnail" data-image="images/details_4.jpg"><img src="images/details_4.jpg" alt=""></div>
						</div>
					</div>
				</div>

				<!-- Product Content -->
				<div class="col-lg-6">
					<div class="details_content">
						<div class="details_name">房屋名：{{ house_detail.Hname }}</div>
						<div class="details_price">房屋价格：{{ house_detail.Hprice }}</div>
                        <div class="details_name">房屋名：{{ house_detail.Hname }}</div>
                        <div class="details_name">房屋名：{{ house_detail.Hname }}</div>
                        <div class="details_name">房屋名：{{ house_detail.Hname }}</div>
                        <div class="details_name">房屋名：{{ house_detail.Hname }}</div>
                        <div class="details_name">房屋名：{{ house_detail.Hname }}</div>
                        <div class="details_name">房屋名：{{ house_detail.Hname }}</div>

						<!-- In Stock -->
						<div class="in_stock_container">
							<div class="availability">Availability:</div>
							<span>In Stock</span>
						</div>
						<div class="details_text">
							<p>{{ house_detail }}</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row description_row">
				<div class="col">
					<div class="description_title_container">
						<div class="description_title">Description</div>
						<div class="reviews_title"><a href="#">Reviews <span>(1)</span></a></div>
					</div>
					<div class="description_text">
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Phasellus id nisi quis justo tempus mollis sed et dui. In hac habitasse platea dictumst. Suspendisse ultrices mauris diam. Nullam sed aliquet elit. Mauris consequat nisi ut mauris efficitur lacinia.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}